@font-face {
    font-family: 'Libre Franklin';
    src: url(/fonts/LibreFranklin-VariableFont.ttf);

}
@font-face {
    font-family: 'Tenor Sans';
    src: url(/fonts/TenorSans-Regular.ttf);

}
@font-face {
    font-family: 'Source Serif Pro';
    src: url(/fonts/SourceSerifPro/SourceSerifPro-Regular.ttf);

}