@media (max-width: 535px){
    .container{
        width: 350px;
    }
    .mid-photo,
    .between-mid-and-big-photo{
        width: 100%;
    }
    /* .header-container{
        flex-direction: column;
        justify-content: space-evenly;
    } */
    .footer-info{
        flex-direction: column;
        margin: 20px 0px 0px 0px;
    }
    .newsletter-input{
        flex-wrap: wrap;
    }
    .send-btn{
        width: 246px;
    }
    .header-menu{
        /* justify-content: start;
        padding: 0px; */
        display: none;
    } 
    .header-container{
        justify-content: center;
        height: 65px;
    }
    .information{
        display: flex;
    }
    .footer-item{
        margin-right: 15px;
    }
    .main-text-footer{
        margin-bottom: 10px;
    }
    .categories-item{
        width: 110px;
    }
    .hamburger-menu{
        display: block;
    }
    header{
        background: white;
        position: sticky;
        top: 0;
    }
} 