*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.menu-link{
    color: #000000;
}
.footer-link{
    color: #FFFFFF;
}
.logo-block{
    display: flex;
    flex-direction: row;
}
header{
    height: 90px;
    display: flex;
    justify-content: center;
}
.site-font{
    font-style: normal;
    font-weight: 400;
  }
.text-upperCase{
    text-transform: uppercase;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.smaller-container{
    width: 1040px;
}
.header-container-size{
    width: 1180px;
}
.header-container{
    height: 100%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    position: relative;
    animation-name: move-header;
    animation-duration: 2.5s;
}
.font-LibreFranklin{
    font-family: 'Libre Franklin';
}
.header-font-style{
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.row-display{
    display: flex;
    flex-direction: row;
}
.item-menu{
    margin-left: 40px;
    position: relative;
}
.top-line{
    width: 100%;
    height: 1px;
}
.container-display{
    justify-content: space-between;
}
.main-content{
    margin-bottom: 60px;
    margin-top: 59px;
    flex-direction: row-reverse;
}
.secondary-content{
    margin-bottom: 50px;
    animation-name: show-element;
    animation-duration: 2s;
}
.content-item{
    margin-right: 20px;
}
.big-photo{
    width: 721px;
    height: 474px;
}
.between-mid-and-big-photo{
    height: 387px;
    width: 590px;
}
.mid-photo{
    Width: 387px;
    Height: 254px;
}
.small-photo{
    Width: 285px;
    Height: 187px;
}
.content-photo{
    margin-bottom: 25px;
}
.main-content-text{
    position: relative;
    margin-left: 51px;
    animation-name: move-text;
    animation-duration: 2s;
}
.main-content-photo{
    animation-name: move-photo;
    animation-duration: 2s;
}
.main-content-photo{
    position: relative;
}
.type{
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #999999;
}
.posts-type-margin{
    margin-bottom: 30px;
    animation-name: show-element;
    animation-duration: 2s;
}
.type-of-photo-margin{
    margin-bottom: 18px;
}
.photo-name{
    font-family: 'Tenor Sans';
    color: #000000;
}
.photo-name-big{
    margin-bottom: 27px;
    font-size: 36px;
    line-height: 42px;
}
.photo-name-small{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
}
.about-photo{
    margin-bottom: 28px;
    font-family: 'Source Serif Pro';
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.photo-author{
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #000000;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.btn-view-all{
    background: #FFFFFF;
    height: 54px;
    width: 205px;
    animation-name: show-element;
    animation-duration: 2s;
}
.btn-view-all:hover{
    background: rgb(239, 239, 239);
}
.site-rights{
    margin-left: 15px;
}
.footer-text{
    font-style: normal;
    font-weight: 400;
}
.main-text-footer{
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
}
.secondary-text-footer{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.form{
    max-height: 48px;
}
.email{
    height: 48px;
    width: 221px;
    padding-left: 24px;
    background: #FFFFFF;
    text-transform: none;
    border: 1px solid #CCCCCC; 
    border-radius: 0px;
}
input[type="email"]:focus{
    outline: 0;
}
.send-btn{
    background: #000000;
    border-radius: 0px;
    border: 0px;
    width: 79px;
    height: 49px;
    color: #FFFFFF;
    border: 1px solid #000000;
}
.send-btn:hover{
    background: rgb(79, 78, 78);
    border: 1px solid #CCCCCC;
}
.gorizontal-line{
    width: 1200;
    justify-content: center;
    animation-name: show-element;
    animation-duration: 2s;
}
.site-gorizontal-line{
    margin: 90px 0px 90px 0px;
}
.footer-gorizontal-line{
    margin: 60px 0px 60px 0px;
}
footer{
    margin-top: 90px;
    background: #141414;
    height: 617px;
    flex-direction: column;
    animation-name: show-element;
    animation-duration: 2s;
}
.footer-container{
    height: 524px;
    margin-top: 93px;
}
.footer-info{
    margin: 70px 0px 0px 0px;
}
.footer-information-margin-right{
    margin: 0px 152px 0px 0px;
}
.footer-follow-margin-right{
    margin: 0px 144px 0px 0px;
}
.photo-scale{
    transition: all 0.5s ease;
}
.photo-scale:hover{
    transform: scale(0.9,0.9);
}
@keyframes move-text{
    0%{
        right: -500px;
        opacity: 0;
    }
    100%{
        opacity: 1;
        right: 0px;
    }
}
@keyframes move-photo{
    0%{
        left: -500px;
        opacity: 0;
    }
    100%{
        opacity: 1;
        left: 0px;
    }
}
@keyframes move-header{
    0%{
        top: -500px;
    }
    100%{
        top: 0px;
    }
}
@keyframes show-element{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

