*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
a{
    text-decoration: none;
}
.menu-link{
    color: #000000;
}
.footer-link{
    color: #FFFFFF;
}
.logo-block{
    display: flex;
    flex-direction: row;
}
header{
    height: 90px;
    display: flex;
    justify-content: center;
}
.site-font{
    font-style: normal;
    font-weight: 400;
  }
.text-upperCase{
    text-transform: uppercase;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.hamburger-menu{
    display: none;
}
.smaller-container{
    width: 1010px;
}
.font-LibreFranklin{
    font-family: 'Libre Franklin';
}
.header-font-style{
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    padding: 0px 19px 0px 0px;
}
.item-menu{
    margin-left: 40px;
}
.top-line{
    width: 100%;
    height: 1px;
}
.container-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-container{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    animation-name: move-header;
    animation-duration: 2.5s;
}
.main-content{
    width: 100%;
    margin: 59px 0px 60px 0px;
    flex-direction: row;
}
.secondary-content{
    margin: 0px 0px 50px 0px;
    animation-name: show-element;
    animation-duration: 2s;
}
.content-item{
    margin: 0px 20px 0px 0px;
}
.big-photo{
    width: 721px;
}
.between-mid-and-big-photo{
    width: 590px;
}
.mid-photo{
    Width: 387px;
}
.small-photo{
    Width: 285px;
}
.content-photo{
    margin-bottom: 25px;
}
.main-content-text{
    width: 35%;
    margin-left: 51px;
    animation-name: move-text;
    animation-duration: 2s;
}
.main-content-photo{
    animation-name: move-photo;
    animation-duration: 2s;
}
.main-content-photo{
    
}
.type{
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #999999;
}
.posts-type-margin{
    margin-bottom: 30px;
    animation-name: show-element;
    animation-duration: 2s;
}
.type-of-photo-margin{
    margin: 0px 0px 18px 0px;
}
.photo-name{
    font-family: 'Tenor Sans';
    color: #000000;
}
.photo-name-big{
    width: 450px;
    margin-bottom: 27px;
    font-size: 36px;
    line-height: 42px;
}
.photo-name-small{
    width: 280px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
}
.about-photo{
    margin-bottom: 28px;
    font-family: 'Source Serif Pro';
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}
.photo-author{
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #000000;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.btn-view-all{
    background: #FFFFFF;
    height: 54px;
    width: 205px;
    animation-name: show-element;
    animation-duration: 2s;
}
.btn-view-all:hover{
    background: rgb(239, 239, 239);
}
.site-rights{
    margin-left: 15px;
}
.footer-text{
    font-style: normal;
    font-weight: 400;
}
.main-text-footer{
    font-family: 'Libre Franklin';
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
}
.secondary-text-footer{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.email{
    height: 48px;
    width: 221px;
    padding-left: 24px;
    background: #FFFFFF;
    text-transform: none;
    border: 1px solid #CCCCCC; 
    border-radius: 0px;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #666666;
}
input[type="email"]:focus{
    outline: 0;
    color: black;
}
.send-btn{
    background: #000000;
    border-radius: 0px;
    border: 0px;
    width: 80px;
    height: 50px;
    color: #FFFFFF;
    border: 1px solid #000000;
}
.send-btn:hover{
    background: rgb(79, 78, 78);
    border: 1px solid #CCCCCC;
}
.gorizontal-line{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    animation-name: show-element;
    animation-duration: 2s;
}
.site-gorizontal-line{
    margin: 90px 0px 90px 0px;
}
footer{
    padding: 93px 0px 0px 0px ;
}
.footer-gorizontal-line{
    margin: 60px 0px 60px 0px;
}
.footer-list{
    flex: 1 1 auto;
    padding-right: 114px;
}
.footer-categories{
    display: flex;
    justify-content: space-between;
}
footer{
    margin-top: 90px;
    background: #141414;
    flex-direction: column;
    animation-name: show-element;
    animation-duration: 2s;
}
.footer-container{
    margin-top: 93px;
}
.footer-info{
    margin: 70px 0px 0px 0px;
    display: flex;
    flex-direction: row;
}
.footer-information-margin-right{
    margin: 0px 142px 0px 0px;
}
.footer-follow-margin-right{
    margin: 0px 130px 0px 0px;
}
.newsletter{
    max-width: 326px;
}
/* =====================Burger======================== */
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #e8e8e8;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  /* ======================================================== */
/* .photo-scale{
    transition: all 0.5s ease;
}
.photo-scale:hover{
    transform: scale(0.9,0.9);
} 
@keyframes move-text{
    0%{
        right: -500px;
        opacity: 0;
    }
    100%{
        opacity: 1;
        right: 0px;
    }
}
@keyframes move-photo{
    0%{
        left: -500px;
        opacity: 0;
    }
    100%{
        opacity: 1;
        left: 0px;
    }
}
@keyframes move-header{
    0%{
        top: -500px;
    }
    100%{
        top: 0px;
    }
}
@keyframes show-element{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */
@media (max-width: 1300px) {
    .container{
        width: 720px;
    }
    .main-content{
        flex-direction: column;
        align-items: center;
        margin: 30px 0px 60px 0px;
    }
    .main-content-photo{
        display: flex;
        justify-content: center;
    }
    .main-content-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .about-photo{
        margin-bottom: 8px;
    }
    .type-of-photo-margin{
        margin: 20px 0px 18px 0px;
    }
    .photo-name-big{
        width: 100%;
        margin-bottom: 15px;
    }
    .secondary-content{
        justify-content: center;
        margin: 0px 0px 20px 0px;
    }
    .wrap-elements{
        flex-wrap: wrap;
    }
    .content-item{
        margin: 0px 10px 30px 0px;
    }
    .mid-photo{
        width: 234px;
    }
    .content-photo{
        margin-bottom: 10px;
    }
    .photo-name-small{
        width: 200px;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 15px;
    }
    .type{
        font-size: 9px;
        line-height: 12px;
        letter-spacing: 1px;
        color: #999999;
    }
    .type-of-photo-margin{
        margin: 10px 0px 10px 0px;
    }
    .site-gorizontal-line{
        margin: 10px 0px 40px 0px;
    }
    .footer-gorizontal-line{
        margin: 60px 0px 60px 0px;
    }
    .small-photo,
    .between-mid-and-big-photo{
        width: 355px;
    }
    .button{
        margin: 25px 0px 50px 0px;
    }
    .latest-posts:nth-child(even){
        margin-right: 0px;
    }
    .footer-categories{
        flex-direction: column;
    }
    .footer-list{
        padding-right: 0px;
    }
    .newsletter{
        padding-top: 20px;
    }
    
}
@media (max-width: 800px){
    .container{
        width: 450px;
    }
    .big-photo{
        width: 100%;
    }
    .main-content-text{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .photo-name-big{
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 28px;
    }
    .about-photo{
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 20px;
    }
    .secondary-content{
        flex-wrap: wrap;
        margin: 0px 0px 0px 0px;
    }
    .type-of-photo-margin{
        margin: 10px 0px 10px 0px;
    }
    .main-content{
        margin-bottom: 60px;
        margin-top: 30px;
        margin: 30px 0px 25px 0px;
    }
    .mid-photo,
    .between-mid-and-big-photo{
        width: 300px;
    }
    .photo-name-small{
        width: 280px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 15px;
    }
    .wrap-elements{
        display: none;
    }
    .latest-posts:nth-child(even){
        margin-right: 10px;
    }
    .footer-information-margin-right{
        margin: 0px 10px 0px 0px;
    }
    .footer-follow-margin-right{
        margin: 0px 0px 0px 0px;
    }
    .categories{
        flex-wrap: wrap;
    }
    .categories-item{
        margin-right: 60px;
    }
    .footer-info{
        margin: 40px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .main-text-footer{
        font-size: 9px;
        line-height: 12px;
        letter-spacing: 1px;
    }
    .secondary-text-footer{
        font-size: 13px;
        line-height: 24px;
    }
}
@media (max-width: 500px){
    .container{
        width: 280px;
    }
    .mid-photo,
    .between-mid-and-big-photo{
        width: 100%;
    }
    /* .header-container{
        flex-direction: column;
        justify-content: space-evenly;
    } */
    .footer-info{
        flex-direction: column;
        margin: 20px 0px 0px 0px;
    }
    .newsletter-input{
        flex-wrap: wrap;
    }
    .send-btn{
        width: 246px;
    }
    .header-menu{
        /* justify-content: start;
        padding: 0px; */
        display: none;
    } 
    .header-container{
        justify-content: center;
    }
    .hamburger-menu{
        display: block;
        position: relative;
        z-index: 4;
    }
    .information{
        display: flex;
    }
    .footer-item{
        margin-right: 15px;
    }
    .main-text-footer{
        margin-bottom: 10px;
    }
} 
